body {
  text-align: center;
  font-family: 'Zilla Slab', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family:'Pacifico', cursive;
  font-size: 5em;
  color:#e94560;
}
p {
  font-family: 'Work Sans', sans-serif;
  color:#373a40;
  font-size: 20px;
}

h2 {
  font-size: 2.5rem;
  color:#e94560;
  font-weight: normal;
  text-align: center;
  padding-bottom: 10px;
}
h3 {
  color: #ff7171;
  font-size: 1.5rem;
}
.top-container {
  background-color: #cae4db;
  position: relative;
  padding-top: 100px;
}

.skills {
  margin: 0;
}
.skill-row {
  width:50%;
  margin: 0 auto 30px auto;
  text-align: left;
  line-height: 2;
}
.middle-container {
  margin: 100px 0 0 0;
}

.bottom-container {
  background-color: #cae4db;
  padding: 50px 0 10px;
  margin: 20px auto 0 auto;
  text-align: center;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 350px;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.pic-size {
  height: 300px;
  width: 300px;
}

.Coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.Reading {
  width: 25%;
  float: right;
  margin-left: 30px;
}

hr {
  border: none;
}
a {
  color: #fa7f72;
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 0 50px 0 50px;
  text-decoration: none;
}
a:hover {
  color: #e94560;
}

.copyright {
  color: #433d3c;
  font-size: 15px;
  font-weight: bold;
  padding: 50px 0 0 0;
  margin-bottom: 0;
  text-align: center;
}
.pic-border {
  height: 30px;
  width: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Button {
   background: #F63D3D;
   background-image: -webkit-linear-gradient(top, #F63D3D, #FFE6E6);
   background-image: -moz-linear-gradient(top, #F63D3D, #FFE6E6);
   background-image: -ms-linear-gradient(top, #F63D3D, #FFE6E6);
   background-image: -o-linear-gradient(top, #F63D3D, #FFE6E6);
   background-image: -webkit-gradient(to bottom, #F63D3D, #FFE6E6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Zilla Slab', serif;
   font-size: 30px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #FFAEAE 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 80px auto;
}

.Button:hover {
   border: solid #FFAEAE 1px;
   background: #FF324F;
   background-image: -webkit-linear-gradient(top, #FF324F, #FD1663);
   background-image: -moz-linear-gradient(top, #FF324F, #FD1663);
   background-image: -ms-linear-gradient(top, #FF324F, #FD1663);
   background-image: -o-linear-gradient(top, #FF324F, #FD1663);
   background-image: -webkit-gradient(to bottom, #FF324F, #FD1663);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
   color: white;
}
